
body {
    padding: 3%;
}

h1 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.description{font-family: sans-serif;
    position: absolute;
    top: 70px;
    right: 170px;
    text-align: center;
    


}

body{
    background-color: #E5A4CB;

}

#nacionalidade {
    color: tomato;
}
.habilities {
    font-size: 30px;
}

#Fotofran {
    float: left;
    height: 230px;
    padding: 10px;
    background-color: #fb545c;
}




.image-container {
height: 250px;
position: relative;
}

h1 {
    text-align: center;

}