
h1 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.description{font-family: sans-serif;

}

body{
    background-color: #E5A4CB;

}

#nacionalidade {
    color: tomato;
}
.habilities {
    font-size: 30px;
}

#Fotofran {
    float: left;
    height: 250px;
}

div{
    border: solid green;
}

.image-container {
height: 350px;
}